### **ðŸ§­ Stage 1 â†’ Lesson 4: Importing & Exporting Data (I/O Operations)**

**ðŸŽ¯ Objective**

By the end of this lesson, youâ€™ll:

- Load data from various sources (CSV, Excel, JSON, SQL)
- Handle file paths, encodings, missing headers
- Export clean datasets in multiple formats
 -Work with real data import/export patterns used in ETL

#### **ðŸ§± Pandas I/O Ecosystem Overview**

Pandas supports reading and writing 40+ data formats through its I/O API.

| **Format**        | **Read Function**    | **Write Function**   |
|-------------------|----------------------|----------------------|
| CSV               | `read_csv()`         | `to_csv()`           |
| Excel             | `read_excel()`       | `to_excel()`         |
| JSON              | `read_json()`        | `to_json()`          |
| Parquet           | `read_parquet()`     | `to_parquet()`       |
| SQL               | `read_sql()`         | `to_sql()`           |
| Clipboard         | `read_clipboard()`   | â€”                    |

**Importing necessary libraries**

In [1]:
import pandas as pd
import numpy as np

**ðŸ§© Reading CSV Files**

In [6]:
# Since pandas is being used to handle the data, we assume it has already been imported. 
# If not, you can import it like this:
# import pandas as pd

# Step 2: Reading data from a CSV file
# pd.read_csv() is used to read a CSV file and load its contents into a pandas DataFrame.
# The 'r' before the file path is used to indicate a raw string, which ensures that backslashes in file paths are interpreted correctly.
df_SalesData = pd.read_csv(r"C:\Users\dhira\Desktop\GEN_AI_PROJECT\pandas\01_Foundation\dataset\raw\sample_sales.csv")

# Step 3: Displaying the first few rows of the DataFrame
# .head() is a pandas function that returns the first 5 rows of the DataFrame by default. 
# This is useful for quickly inspecting the structure of the data, ensuring it's loaded correctly.
print(df_SalesData.head())

         Date     Product  Units  UnitPrice  Revenue
0  2024-01-01     Monitor     46       1999    91954
1  2024-01-02    Keyboard      8       9999    79992
2  2024-01-03  Headphones     25        999    24975
3  2024-01-04     Monitor     35      14999   524965
4  2024-01-05  Headphones     25       2999    74975



**Parameters for `read_csv()` and Other I/O Functions**
| **Parameter**     | **Description**                              |
|-------------------|----------------------------------------------|
| `sep`             | Specify separator (default `,`)              |
| `header`          | Row number(s) to use as the column names    |
| `names`           | Custom column names (overrides header)      |
| `index_col`       | Set column(s) to be used as index          |
| `usecols`         | Load selected columns                       |
| `nrows`           | Limit the number of rows to read           |
| `encoding`        | Handle text encodings like `UTF-8`, `ISO-8859-1`, etc. |

In [14]:
print("Orifinal_Data:\n",df_SalesData.head())

Orifinal_Data:
          Date     Product  Units  UnitPrice  Revenue
0  2024-01-01     Monitor     46       1999    91954
1  2024-01-02    Keyboard      8       9999    79992
2  2024-01-03  Headphones     25        999    24975
3  2024-01-04     Monitor     35      14999   524965
4  2024-01-05  Headphones     25       2999    74975

In [18]:
# Step 1: Defining the file path
# The path to the CSV file is defined as a raw string (r) to handle any backslashes in the file path correctly.
sales_data_path = r"C:\Users\dhira\Desktop\GEN_AI_PROJECT\pandas\01_Foundation\dataset\raw\sample_sales.csv"

# Step 2: Reading the CSV file with specific columns
# pd.read_csv() is used to read the data from the CSV file.
# The 'usecols' parameter specifies which columns to read from the CSV file.
# In this case, only the 'Product', 'Units', and 'Revenue' columns will be loaded into the DataFrame.
df_SalesData = pd.read_csv(sales_data_path, usecols=['Product', 'Units', 'Revenue'])

# Step 3: Displaying the first few rows of the DataFrame
# .head() returns the first 5 rows of the DataFrame, which is useful for verifying that the correct data has been loaded.
df_SalesData.head()

      Product  Units  Revenue
0     Monitor     46    91954
1    Keyboard      8    79992
2  Headphones     25    24975
3     Monitor     35   524965
4  Headphones     25    74975

**Handling Missing or Bad Data**

In [24]:
df = pd.read_csv(sales_data_path,na_values=['?','NA','Missing'])
df

           Date     Product  Units  UnitPrice  Revenue
0    2024-01-01     Monitor     46       1999    91954
1    2024-01-02    Keyboard      8       9999    79992
2    2024-01-03  Headphones     25        999    24975
3    2024-01-04     Monitor     35      14999   524965
4    2024-01-05  Headphones     25       2999    74975
..          ...         ...    ...        ...      ...
115  2024-04-25  Headphones     26       4999   129974
116  2024-04-26    Keyboard     42      14999   629958
117  2024-04-27      Laptop     22        999    21978
118  2024-04-28     Monitor     14       1999    27986
119  2024-04-29       Mouse      2       2999     5998

[120 rows x 5 columns]

**Large File Optimization**

In [ ]:
superstore_sales = r"C:\Users\dhira\Desktop\GEN_AI_PROJECT\pandas\01_Foundation\dataset\raw\superstore_sales.csv.csv"

df_superstore = pd.read_csv(superstore_sales,encoding="utf-8")

df_superstore